body > aside {
    float: right;
    width: 20em;
}

body > main {
    width:38em;
    border-right: 22em solid #f9c74f;
}

body > main > section > article {
    float: left;
    width: 8em;
}

body > main > section::after {
    content: "\00a0";
    clear:both;
    display: block;
    height: 0;
  }