body {
    position: relative;
}

body > aside {
    position: absolute;
    width: 20em;
    right: 0;
    height: 6em;
}

body > main {
    position: relative;
    width: 38em;
}

body > main #s1{
    position: absolute;
    width: 18em;
    top: 0; left: 0;
}

body > main #s2{
    position: absolute;
    width: 18em;
    top: 0; right: 0;
}

body > footer {
    position: absolute;
    width: 20em;
    right: 0;
    margin-top: 8em;
}
