* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    font-size: 1.25rem;
    color: white;
    background: #121212;
}

img,
svg {
    max-width: 100%;
    display: block;
}

/* general styling */

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: var(--flow-spacer, 1rem);
}

.page-header {
    padding-block: 5rem;
    margin-block-end: 5rem;
    background-image: url("https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=1200"),
        linear-gradient(-25deg, rgb(0 0 0 / 0), rgb(0 0 0 / 1) 50%);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}

.page-title {
    font-size: 4rem;
    margin: 0;
}

.section-title {
    margin-block: 4rem 1rem;
}

/* Media scroller */

.media-container {
    position: relative;
}

.media-scroller,
.media-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
}

.media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 2rem;
}

.media-group {
    grid-auto-columns: 1fr;
    border: 3px solid limegreen;
}

.media-element {
    border-radius: 0.25rem;
    overflow: hidden;
}

.media-element > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover; /* Resize the image to fit the container */
}

.next,
.previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
}

.previous {
    left: 0;
    top: 0;
    bottom: 0;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
}

.media-group {
    border: 1px solid blue;
}

.media-scroller {
    border: 1px solid red;
}

.media-container {
    border: 1px solid yellow;
}

.media-group:first-child :where(.next, .previous) {
    display: flex;
}

.media-scroller:hover :where(.next, .previous) {
    opacity: 1;
}

:where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}

:where(.next, .previous):hover > svg {
    transform: scale(1.2);
}

.media-group:target {
    border-color: red;
}

.media-group:target :where(.next, .previous) {
    display: flex;
}