body {
    position: fixed;
}

body > aside {
    float: right;
    width: 18em;
    height: 6em;
    position: absolute;
    top: 0em;
    right: 0em;
    height: 6.25em;
}

body > header, nav {
    width: 38em;
}

body > footer {
    position: fixed;
    top: 8.25em;
    width: inherit;
}
body > main {
    position: relative;
    top: 5.2em;
}