@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

/* Header */

body > header  {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: blue;
    padding: 1em;
    line-height: 1em;
}

body > header h2 {
    font-weight: normal;
}

body > header a {
    text-decoration: none;
    color: white;
}

/* #signup */

#signup > a:first-child {
    border-right: 1px solid white;
    padding-right: 1em;
}
#signup > a:last-child {
    padding-left: 1em;
}   

/* Menu */

body > #menu {
    margin-top: -1em;
    margin-left: -2.5em;
    /* Try to fix the left border length */
}

body > #menu > ul {
    line-height: 1em;
    display: flex;
    flex-direction: row;
}

body > #menu > ul > li {
    text-align: center;
    list-style: none;
    
    padding: 1em;
    border-top-style: solid;
    border-top-width: thick;

    display: block;
    flex: 6;
}
body > #menu > ul > li:first-child {
    border-top-color: red; /* E13A41 */
}
body > #menu > ul > li:nth-child(2) {
    border-top-color: #80C65D;
}
body > #menu > ul > li:nth-child(3) {
    border-top-color: purple;
}
body > #menu > ul > li:nth-child(4) {
    border-top-color: #FE883C;

}
body > #menu > ul > li:nth-child(5) {
    border-top-color: plum;
}
body > #menu > ul > li:last-child {
    border-top-color: deeppink;
}

body > #menu > ul a {
    text-decoration: none;
    color: black;
}

body > #menu > #hamburger {
    display: none;
}

/* #related */

aside {
    grid-column: middle;
    grid-row: nav / end;
}

body > #related {
    background-color: #2A2F33;
    padding: 1em;
    font-size: 0.85em;
    text-align: start;
    line-height: 2.5em;
}

body > #related > article {
    color: white;
    size: 1em;
}

body > #related > article a {
    text-decoration: none;
    color: white;
}

/* Ver melhor esta parte */
body > #related > article > h1 {
    size: 5em;
}

/* #news */

#news {
    grid-column: start;
}

body > #news > article {
    position: relative;
    margin-top: 1em;
}

body > #news > article img {
    width: 100%;
}

body > #news > article > header a {
    text-decoration: none;
    color: white;
    text-shadow:5px 5px 5px #414B4C;
}

body > #news > article > header {
    position: absolute;
    width: 250px;
    height: 400px;
    top: 8px;
    left: 30px;
    font-size: x-large;
}

body > #news > article > footer {
    background-color: indianred;
    color: white;
    padding: 1em;
}

body > #news > article > footer a {
    color: white;
}

body > #news > article > footer span:nth-child(2) {
    padding-right: 1em;
}
body > #news > article > footer span:nth-child(3) {
    padding-right: 1em;
}

.comments::before {
    content: "By ";
}

.comments::after {
    content: ' comments';
}

body > #news > article p:first-of-type::first-letter {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2em;
}

/* Fake News */

body > footer {
    background-color: #2a2f33;
    padding: 1em;
    margin-top: 1em;
    color: white;
}

body > footer p {
    margin : 0;
}

a:hover {
    background-color: #2A2F33;
    color: white !important;
}